<div id="problem-and-answer" class="current-card framework-perseus vertical-shadow"> <div id="problemarea"> <div id="workarea"></div> <div id="hintsarea"></div> </div> <div class="hide" id="solutionarea"></div> <!--
  <div id="answer_area_wrap">
    <div id="answer_area">
      <form id="answerform">
        <div id="anwsercontent" class="info-box">
          <b>Answer</b> <br>

          <div id="solutionarea"></div>
          <div class="answer-buttons">
            <button type="button" class="btn btn-default" ng-click="checkAnswer()">{{ answerState }}</button>
          </div>
        </div>
      </form>
      <div class="info-box">
        <div class="answer-buttons">
          <button type="button" class="btn btn-warning" ng-click="hint()">Hint</button>
        </div>
      </div>
    </div>
  </div> --> <div style="clear: both"></div> </div>